.header{
	background-color: #013ba6;
	width: 100%;
	border: 1px solid black;
	display: flex;
}
.header div{
	text-align: center;
	color: white;
	font-size: 65pt;
	padding: 0;
}
.heared div.block{
	width: 150px;
}
